bath_250_good.tif
250m_res_bathymetry.zip
Australian_Bathymetry_and_Topography_2023_250m_MSL_cog.tif
Datasources_aus250_DEM_V1_public.csv
Metadata_aus250_DEM_V1_final.doc
Processing_scheme_aus250.jpg
metadata.txt
